/* Application-wide Styles */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content-wrapper{
  padding-top: 40px;
  height: 100%;
}

mat-toolbar{
  max-height: 40px;
  position: fixed;
  z-index: 100;
}